* {
	margin: 0;
}

html {
	margin: 1rem;
}
.pix {
	margin:  3rem;
	padding: 3rem;
}

.center {
	margin: 1rem auto;
}
img {
	visibility: hidden;
	padding: 1rem;
}

button, #baconButton {
	font-size: 2rem;
	margin: 2rem;
}
.jeopardy {
	font-size: 2rem;
}
#dogJson {
	border: solid 0.5rem red;
}